<h1>Confirmation de ton email</h1>

<p>
   Pour confirmer ton email, clique sur ce lien: <br><br>
    <a href="{{ signedUrl }}">confirmer son Email</a>.
    Ce lien expire dans 1 heure {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Cordialement
</p>
