* {
    box-sizing: border-box;
    margin: 0;  
    font-family: apercu, sans-serif;;
    }

body {
    background-color:#534B52;
} 


/*------------------------------- NAVBAR ------------------------------------ */

nav {
    padding: 1rem;
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin: 2rem;
    
}

nav ul li {
    list-style: none;
    transition: 0.4s;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    text-decoration: underline 0.15em rgb(34,34,34,0);
    transition: text-decoration-color 500ms;
    color:rgb(34,34,34);
    font-weight:900;
    font-size: 20px;
}

nav ul li a:hover {
    text-decoration-color: #E0DDCF;
}


/* ---------------------------------------------------- */
h1 {
    color: #E0DDCF ;
    text-align: center;
    font-weight: 1000;
    font-size: 40px;
    text-transform: capitalize;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 500ms;
    margin: 2rem;
    cursor: default;
}

h1:hover {
    text-decoration-color: #E0DDCF;
}

section h2 {
    text-align: center;
    font-weight: 900;
    font-size: 26px;
    margin: 2rem;
    color:rgb(34,34,34);
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 500ms;
    cursor: default;
}

section h2:hover {
    text-decoration-color: #E0DDCF;

}

article {
    justify-content: space-between;
}

/* TABLE */

table {
    border-collapse: collapse;
    margin: auto;
    border-radius: 1em;
    overflow: hidden;
}

table th {
    color:rgb(34,34,34);
    background-color: #474448;
}

table td, table th {
    padding: 1rem;
    
}

table td {
    text-align: center; 
    background-color: #F1F0EA;
}

table tr td a {
    text-decoration: none;
    color: brown;
}

/* -------------------- BOUTON ADD ------------------------ */

p .addButton {
    border: 1px solid grey;
    margin:  0 1rem;
    padding: 0.5rem ;
    border-radius: 5px;
    background-color: #F1F0EA;
}

p .addButton a {
    text-decoration: none;
    
    border: none;
    color: rgba(109, 3, 3, 0.644);
}

p .addButton a:hover {
    text-decoration: none;
    color: brown;
}

/* -------------------- BOUTON WARNING + texte ------------------------ */

.noEntry {
    text-align: center;
}

.fa-triangle-exclamation {
    color: #EA3546;
    font-size: 30px;
}