* {
    box-sizing: border-box;
    margin: 0;  
    font-family: apercu, sans-serif;;
    }

body {
    background-color:#534B52;
} 


/*------------------------------- NAVBAR ------------------------------------ */

nav {
    margin: 4px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    transition: 0.4s;
    margin: 1em 1em 0 0;
}

nav ul li a {
    text-transform: uppercase;
    text-decoration: underline 0.15em rgb(34,34,34,0);
    transition: text-decoration-color 500ms;
    color:rgb(34,34,34);
    font-weight: 700;
}

nav ul li a:hover {
    text-decoration-color: #E0DDCF;
}

/*------------------------ CONNECT BAR ------------------------------------------ */

.navbar {
    padding: 1rem;
}

.navbar ul {
    margin:  0 2rem 0 0;
    justify-content: space-around;
}

.navbar ul li a {
    font-weight:900;
    font-size: 20px;
}


/* ---------------------------------------------------- */
h1 {
    color: #E0DDCF ;
    text-align: center;
    font-weight: 1000;
    font-size: 40px;
    text-transform: capitalize;
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 500ms;
    margin: 2rem;
    cursor: default;
}

h1:hover {
    text-decoration-color: #E0DDCF;
}

section h2 {
    text-align: center;
    font-weight: 900;
    font-size: 26px;
    margin: 2rem;
    color:rgb(34,34,34);
    text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 500ms;
    cursor: default;
}

h3 {
    color:rgb(34,34,34);
    margin: 5px;
}

section h2:hover {
    text-decoration-color: #E0DDCF;

}

article {
    justify-content: space-between;
}

/*------------------------------- TABLE --------------------------------------*/

table {
    border-collapse: collapse;
    margin: 1em auto;
    border-radius: 1em;
    overflow: hidden;
    
}

table th {
    color:rgb(34,34,34);
    background-color: #474448;
    cursor: default;
}

table td, table th {
    padding: 1rem;
    
}

table td {
    text-align: center; 
    background-color: #F1F0EA;
}

table tr td a {
    text-decoration: none;
    color: brown;
}

/* -------------------- BOUTON ADD ------------------------ */

p .addButton {
    border: 1px solid grey;
    margin:  0 1rem;
    padding: 0.5rem ;
    border-radius: 5px;
    background-color: #F1F0EA;
}

p .addButton a {
    text-decoration: none;
    
    border: none;
    color: rgba(109, 3, 3, 0.644);
}

p .addButton a:hover {
    text-decoration: none;
    color: brown;
}

/* -------------------- BOUTON WARNING + texte ------------------------ */

.noEntry {
    text-align: center;
}

.noEntryButton {
    margin: 1rem;
}

.fa-triangle-exclamation {
    color: #EA3546;
    font-size: 30px;
}

.linkAnchor {
    color: #E0DDCF;
    text-decoration: none;
}

.sectionDescription {
    text-align: center;
}

/* -------------------------------- FORMULAIRE ------------------------------------- */

.inputAside {
    display: flex;
    justify-content: center;
}

.inputLine {
    margin: 5px 12px;
    text-align: center;  
}

.inputLine .label {
    text-align: center;
    
}

/* .form-input {
    margin: 1rem;
    padding: 10px;
    font-size: 16px;
    justify-content: center;
    border: none;
    border-radius: 5px;
}

.form-input label {
    text-decoration: underline;
}

.form-submit {
    border: none;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #D5C7BC;
    cursor: pointer;
    transition: 0.4s;
}

.form-submit:hover {
    transform: translateY(-4px);
    scale: 1.1;
    transition: 0.4s;
} */

/* ------------------------------ AFFICHAGE SESSION SHOW ------------------------------ */

.showSessionArticle {
    display: flex;
    justify-content: space-around;
}

.formDuree input {
    width: 50px;
}
