{% extends 'base.html.twig' %}

{% block title %}Ajout d'un stagiaire{% endblock %}

{% block body %}
    {% if edit %}
       <h1>Modification d'un stagiaire</h1>
    {% else %}
        <h1>Ajout d'un stagiaire</h1>
    {% endif %}
    

    {{ form(formAddStagiaire) }}

{% endblock %}