{% extends 'base.html.twig' %}

{% block title %}SESSION{% endblock %}

{% block body %}
    <h1>Liste des sessions</h1>

    <p><button class="addButton"><a href=" {{ path('add_session') }} ">Ajouter une session</a></button></p>

    {# utilisation d'un for pour afficher un tableau qu'on récupère #}
    {# sessions -> éléments du controller qu'on récupère #}
    <table>
        <thead>
            <tr>
                <th>INTITULE</th> 
                <th>OPTIONS</th>    
            </tr>
        </thead>
        <tbody>
            {% for session in sessions %}
                <tr>
                    <td> <a href="{{ path('show_session', {'id': session.id})}}">{{ session.intitule }}</a></td>
                    <td>
                        <a href=""><i class="fa-solid fa-pen-to-square"></i></a> 
                        <a href=""><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr> 
            {% endfor %}
        </tbody>
    </table>
{% endblock %}