{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
        MODIFICATION D'UNE CATEGORIE
    {% else %}
        AJOUT D'UNE CATEGORIE
    {% endif %}
{% endblock %}

{% block body %}
    {% if edit %}
        <h1>Modification d'une catégorie</h1>
    {% else %}
        <h1>Ajout d'une catégorie</h1>
    {% endif %}
    

    {{ form(formAddCategorie) }}

{% endblock %}