{% extends 'base.html.twig' %}

{% block title %}Ajout d'un categorie{% endblock %}

{% block body %}
    {% if edit %}
        <h1>Modification d'une catégorie</h1>
    {% else %}
        <h1>Ajout d'une catégorie</h1>
    {% endif %}
    

    {{ form(formAddCategorie) }}

{% endblock %}