{% extends 'base.html.twig' %}

{% block title %}
    {% if edit %}
        MODIFICATION D'UN FORMATEUR
    {% else %}
        AJOUT D'UN FORMATEUR
    {% endif %}
{% endblock %}

{% block body %}
    {% if edit %}
        <h1>Modification d'un formateur</h1>
    {% else %}
        <h1>Ajout d'un formateur</h1>
    {% endif %}

    {{ form(formAddFormateur) }}

{% endblock %}